<div id="mySidenav" class="sidenav">
    <p class="logo">ParkFind <span class="menu">☰</span></p>
    <p class="logo1"> <span class="menu1">☰</span></p>
    <a href="dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
    <a href="charts" class="icon-a"><i class="fa fa-pie-chart icons"></i> Charts</a>
    <a href="revenue" class="icon-a"><i class="fa fa-money icons"></i> Revenue</a>
    <a href="location" class="icon-a"><i class="fa fa-map-marker icons"></i> Locations</a>
    <!-- <a href="#" class="icon-a"><i class="fa fa-tasks icons"></i> Inventory</a>
    <a href="#" class="icon-a"><i class="fa fa-user icons"></i> Accounts</a>
    <a href="#" class="icon-a"><i class="fa fa-list-alt icons"></i> Tasks</a>
    <a href="#" class="icon-a"><i class="fa fa-bell icons"></i> Notification</a>
    <a href="#" class="icon-a"><i class="fa fa-circle icons"></i> Icons</a> -->


</div>
<div id="main">

    <div class="head">
        <div class="col-div-6">
            <p class="nav"><i class="fa fa-line-chart icons"></i> Charts</p>

        </div>

        <div class="col-div-6">
            <!-- <i class="fa fa-search search-icon"></i>


            <i class="fa fa-bell noti-icon"></i>
            <div class="notification-div">
                <p class="noti-head">Notification <span>2</span></p>
                <hr class="hr" />
                <p>Your Order is Placed
                    <span>Lorem Ipsum is simply dummy </span>
                </p>
                <p>Your Order is Placed
                    <span>Lorem Ipsum is simply dummy </span>
                </p>
                <p>Your Order is Placed
                    <span>Lorem Ipsum is simply dummy </span>
                </p>
            </div> -->
            <div class="profile">

                <img src="images/dp.jpg" class="pro-img" />
                <p>
                    <%= curUser.username %> <i class="fa fa-ellipsis-v dots" aria-hidden="true"></i>
                </p>
                <div class="profile-div">

                    <!-- <p><i class="fa fa-user"></i> Profile</p> -->
                    <!-- <p><i class="fa fa-cogs"></i> Settings</p>
                    <p><i class="fa fa-power-off"></i> Log Out</p> -->
                    <a href="/logout"><i class="fa fa-power-off"></i> Log Out</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <br />
    <div class="col-div-4-1">
        <div class="box">
            <p class="head-1">Floor 1</p>
            <p class="number" id="totalAvail">-</p>
            <p class="percent" id="availStat"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 5.674% <span>Since
                    Last
                    Months</span></p>
            <i class="fa fa-line-chart box-icon"></i>
        </div>
    </div>
    <div class="col-div-4-1">
        <div class="box">
            <p class="head-1">Floor 2</p>
            <p class="number" id="totalUsed">-</p>
            <p class="percent" style="color:red!important" id="usedStat"><i class="fa fa-long-arrow-down"
                    aria-hidden="true"></i>
                5.64% <span>Since Last Months</span></p>
            <i class="fa fa-circle-o-notch box-icon"></i>
        </div>
    </div>
    <div class="col-div-4-1">
        <div class="box">
            <p class="head-1">Floor 3</p>
            <p class="number" id="totalSlots">-</p>
            <p class="percent"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> 5.674% <span>Since Last
                    Months</span></p>
            <i class="fa fa-shopping-bag box-icon"></i>
        </div>
    </div>


    <div class="clearfix"></div>
    <br />


    <div class="charts">
        <canvas id="homeOverview">
        </canvas>
        <canvas id="homePie"></canvas>
    </div>

    <h2 class="chartFloors">Levels</h2>
    <hr>
    <br>
    <div class="floorWise">
        <br>


        <canvas id="floorsPie"></canvas>
        <canvas id="floor1chart"></canvas>
        <br>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(".menu").click(function () {
        $("#mySidenav").css('width', '70px');
        $("#main").css('margin-left', '70px');
        $(".logo").css('display', 'none');
        $(".logo1").css('display', 'block');
        $(".logo span").css('visibility', 'visible');
        $(".logo span").css('margin-left', '-10px');
        $(".icon-a").css('visibility', 'hidden');
        $(".icon-a").css('height', '25px');
        $(".icons").css('visibility', 'visible');
        $(".icons").css('margin-left', '-8px');
        $(".menu1").css('display', 'block');
        $(".menu").css('display', 'none');
    });

    $(".menu1").click(function () {
        $("#mySidenav").css('width', '300px');
        $("#main").css('margin-left', '300px');
        $(".logo").css('visibility', 'visible');
        $(".logo").css('display', 'block');
        $(".icon-a").css('visibility', 'visible');
        $(".icons").css('visibility', 'visible');
        $(".menu").css('display', 'block');
        $(".menu1").css('display', 'none');
        $("")
    });

</script>
<script>
    $(document).ready(function () {
        $(".profile p").click(function () {
            $(".profile-div").toggle();

        });
        $(".noti-icon").click(function () {
            $(".notification-div").toggle();
        });




    });
</script>