<!-- screen 1 -->
<div class="container_landing">
  <h1 class="heading_landing">ParkFind</h1>
  <p class="title_landing">Park Smarter, Not Harder.</p>
  <form action="/login" method="GET">
    <input type="submit" class="landing_button bg-dark" value="Get me Started">
  </form>
</div>
<!-- Screen 2 -->
<div class="screenii">
  <h2 class="info_heading">Never Circle Again.</h2>
  <div class="info_box">
      <div class="card" style="width: 25rem">
        <img class="card-img img-fluid" src="/images/parking-lot.jpg" />
        <div class="card-body">
          <h2 class="card-title">Heading</h2>
          <p class="card-text">Paragraph</p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-light btn-block">
              Button
            </button>
          </div>
        </div>
      </div>
      <div class="card card-border" style="width: 25rem">
        <img class="card-img img-fluid" src="/images/parking-lot.jpg" />
        <div class="card-body">
          <h2 class="card-title">Heading</h2>
          <p class="card-text">Paragraph</p>
          <button class="btn btn-flat btn-light">Button</button>
        </div>
      </div>
      <div class="card card-border" style="width: 25rem">
        <img class="card-img img-fluid" src="/images/parking-lot.jpg" />
        <div class="card-body">
          <h2 class="card-title">Heading</h2>
          <p class="card-text">Paragraph</p>
          <button class="btn btn-flat btn-light">Button</button>
        </div>
      </div>
  </div>
</div>

<!-- screen 3 -->
<div class="screeniii">

</div>