<!-- screen 1 -->
<div class="container_landing">
    <h1 class="heading_landing">ParkFind</h1>
    <p class="title_landing">Park Smarter, Not Harder.</p>
    <button onclick='window.location.href="./login.ejs"' class="landing_button"><span>Get me Started</span></button>
</div>
<!-- Screen 2 -->
<div class="screenii">
    <h2 class="info_heading">Never Circle Again.</h2>
    <div class="info_box">

        <div class="box">
            <h3 class="box1_heading">Box1 Heading</h3>
            <hr class="box_line">
            <p class="box1_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A deleniti recusandae eligendi
                magnam, adipisci tempore, iste culpa dignissimos cum mollitia excepturi rem non voluptatem animi dolore,
                sequi nam vitae nulla?</p>
            <img src="/images/car-park.jpg" alt="car parking outdoors" class="box_img">
        </div>
        <div class="box">
            <img src="/images/hallway-garage.jpg" alt="car parking outdoors" class="box_img">
            <h3 class="box1_heading">Box2 Heading</h3>
            <hr class="box_line">
            <p class="box1_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A deleniti recusandae eligendi
                magnam, adipisci tempore, iste culpa dignissimos cum mollitia excepturi rem non voluptatem animi dolore,
                sequi nam vitae nulla?</p>

        </div>
        <div class="box">
            <h3 class="box1_heading">Box3 Heading</h3>
            <hr class="box_line">
            <p class="box1_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A deleniti recusandae eligendi
                magnam, adipisci tempore, iste culpa dignissimos cum mollitia excepturi rem non voluptatem animi dolore,
                sequi nam vitae nulla?</p>
            <img src="/images/parking-lot.jpg" alt="car parking outdoors" class="box_img">
        </div>
    </div>
</div>

<!-- screen 3 -->
<div class="screeniii">

</div>